header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  box-shadow: 3px 3px 5px rgba(188, 188, 188, 0.2);
  border-bottom: 1px solid rgb(202, 202, 202, 0.2);
  nav {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    .logos {
      display: none;
    }
    .nav__items {
      display: flex;
      align-items: center;
      gap: 50px;
      a {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.11px;
        // text-align: left;
        color: #3d3d3d;
      }
    }
    .nav__btns {
      display: flex;
      align-items: center;
      gap: 28px;
      svg {
        font-size: 24px;
      }
      .login {
        display: flex;
        align-items: center;
        background: #46a358;
        gap: 5px;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.11px;
        // text-align: left;
        color: #fff;
        padding: 7px 17px;
        border-radius: 8px;
      }
    }
  }
  @media only screen and (max-width: 777px) {
    nav {
      .logo {
        display: none;
      }
      .logos {
        display: block;
      }
      .nav__items {
        display: none;
      }
    }
  }
}
