.btn {
  display: flex;
  align-items: center;
  background: #46a358;
  gap: 5px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.11px;
  // text-align: left;
  color: #fff;
  padding: 7px 17px;
  border-radius: 8px;
}
